body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
    background-image: url(background.jpg);
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:#FDDA0D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .joke {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .joke-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: rgb(6, 174, 247);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .joke-btn:hover {
    background-color: #0056b3;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  #darkModeToggle {
    padding: 5px 10px;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  body.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  body.dark-mode .container {
    background-color: #444444;
  }
  